@media only screen and (max-width: 450px) {
	.modal-title {
		font-size: 20px;
	}
	.btn {
		font-size: 15px;
	}
	.para {
		font-size: 16px;
	}
	.titleimg {
		display: none;
	}

	.hdr-section {
		width: 100%;
	}

	.fWrkTitle, h2 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 650px) {
	.carousel-text {
		display: none;
	}

	.para {
		font-size: 18px;
	}

	.modal-dialog {
		margin-right: auto;
	    margin-left: auto;
	    width: 90%;
	}

	.fimgs {
		height: inherit;
	}
}

@media only screen and (max-width: 993px) and (min-width: 450px) {
	.modal-dialog {
		margin-right: auto;
	    margin-left: auto;
	    width: 70%;
	}
	.hdr-section {
    	width: 50%;
	}
	.header {
		display: flex;
	}
}
